.page {
  border: 1px solid black;
  padding: 20px;
  margin: 20px auto 0;
}

.page__header {
  border: 1px solid black;
  width: 80%;
  margin: auto;
  text-align: center;
  font-size: 40px;
}

.calculator {
  margin: 30px auto;
  border: 1px solid black;
  width: 80%;
  padding-bottom: 50px;
}

.calculator__header {
  border: 1px solid black;
  text-align: center;
  margin: 0;
  padding: 20px;
  font-weight: normal;
  font-size: 30px;
}

.calculator__text {
  border: 1px solid black;
  font-size: 22px;
  text-align: center;
}

.calculator__box {
  border: 1px solid black;
  margin: auto;
  width: 80%;
  text-align: center;
}

.calculator__keys {
  border: 1px solid black;
  display: flex;
  justify-content: space-around;
  padding: 20px;
  font-size: 20px;
}

.calculator__key {
  border: 1px solid black;
  width: 200px;
  min-height: 50px;
}

.calculator__result {
  border: 1px solid black;
  width: 300px;
  min-height: 100px;
}

.calculator__space {
  margin: 0 0 50px 0;
}

.calculator__value {
  width: 200px;
  height: 30px;
}

.calculator__asnwer-zone {
  display: flex;
  flex-direction: column;
}

.button {
  width: 120px;
  height: 36px;
  margin-right: 10px;
}

.calcul__btn-stl {
  width: 40px;
  height: 40px;
  border: 1px solid blue;
  font-size: 16px;
  margin: 5px;
  font-weight: bold;
}

.calcul__buttons-extra {
  width: 180px;
  border: 1px solid blue;
  font-size: 16px;
  margin: 20px 0 20px 0;
  font-weight: bold;
}

.calcul__values {
  width: 300px;
  margin: 100px;
  height: 30px;
  font-size: 15px;
}

.calcul__result {
  margin: 10px;
  font-size: large;
  font-weight: bold;
}

#_spanAnswercalculator1 {
  font-weight: bold;
}
