.page {
  border: 1px solid black;
  padding: 20px;
  margin: 20px auto 0;
}

.page__header {
  border: 1px solid black;
  width: 80%;
  margin: auto;
  text-align: center;
  font-size: 40px;
}

.calculator {
  margin: 30px auto;
  border: 1px solid black;
  width: 80%;
  padding-bottom: 50px;
}

.calculator__header {
  border: 1px solid black;
  text-align: center;
  margin: 0;
  padding: 20px;
  font-weight: normal;
  font-size: 30px;
}

.calculator__text {
  border: 1px solid black;
  font-size: 22px;
  text-align: center;
}

.calculator__box {
  border: 1px solid black;
  margin: auto;
  width: 80%;
  text-align: center;
}

.calculator__keys {
  border: 1px solid black;
  display: flex;
  justify-content: space-around;
  padding: 20px;
  font-size: 20px;
}

.calculator__key {
  border: 1px solid black;
  width: 200px;
  min-height: 50px;
}

.calculator__value {
  width: 200px;
  height: 30px;
}

.calculator__result {
  border: 1px solid black;
  width: 300px;
  min-height: 100px;
}

.calculator__button {
  width: 120px;
  height: 36px;
}
